BrutusService/Service References/JavaEndpoint/WebServiceBean.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://facade.exia.com/" targetNamespace="http://facade.exia.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="queueOperation" type="tns:queueOperation" />
  <xs:element name="queueOperationResponse" type="tns:queueOperationResponse" />
  <xs:complexType name="queueOperation">
    <xs:sequence>
      <xs:element minOccurs="0" name="decryptedMessage" type="xs:string" />
      <xs:element minOccurs="0" name="key" type="xs:string" />
      <xs:element minOccurs="0" name="filename" type="xs:string" />
      <xs:element name="token" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queueOperationResponse">
    <xs:sequence>
      <xs:element name="addedToQueue" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>