dechifr_client/Service References/BrutusControl/BrutusControl1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1919/BrutusControl.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Threading" />
  <xs:element name="BrutusInstance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="instance" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BrutusInstanceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="startBrutus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="encrypted_Message" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Threading" minOccurs="0" name="t_cancel" type="q1:CancellationToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="startBrutusResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="stopBrutus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="task_Id" type="xs:int" />
        <xs:element minOccurs="0" name="final_message" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fiability" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="stopBrutusResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="killBrutus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Threading" minOccurs="0" name="t_cancel" type="q2:CancellationToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="killBrutusResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>