dechifr_client/Service References/BrutusControl/BrutusControl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BrutusControl" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1919/BrutusControl.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1919/BrutusControl.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1919/BrutusControl.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Threading" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBrutusControl_BrutusInstance_InputMessage">
    <wsdl:part name="parameters" element="tns:BrutusInstance" />
  </wsdl:message>
  <wsdl:message name="IBrutusControl_BrutusInstance_OutputMessage">
    <wsdl:part name="parameters" element="tns:BrutusInstanceResponse" />
  </wsdl:message>
  <wsdl:message name="IBrutusControl_startBrutus_InputMessage">
    <wsdl:part name="parameters" element="tns:startBrutus" />
  </wsdl:message>
  <wsdl:message name="IBrutusControl_startBrutus_OutputMessage">
    <wsdl:part name="parameters" element="tns:startBrutusResponse" />
  </wsdl:message>
  <wsdl:message name="IBrutusControl_stopBrutus_InputMessage">
    <wsdl:part name="parameters" element="tns:stopBrutus" />
  </wsdl:message>
  <wsdl:message name="IBrutusControl_stopBrutus_OutputMessage">
    <wsdl:part name="parameters" element="tns:stopBrutusResponse" />
  </wsdl:message>
  <wsdl:message name="IBrutusControl_killBrutus_InputMessage">
    <wsdl:part name="parameters" element="tns:killBrutus" />
  </wsdl:message>
  <wsdl:message name="IBrutusControl_killBrutus_OutputMessage">
    <wsdl:part name="parameters" element="tns:killBrutusResponse" />
  </wsdl:message>
  <wsdl:portType name="IBrutusControl">
    <wsdl:operation name="BrutusInstance">
      <wsdl:input wsaw:Action="http://tempuri.org/IBrutusControl/BrutusInstance" message="tns:IBrutusControl_BrutusInstance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBrutusControl/BrutusInstanceResponse" message="tns:IBrutusControl_BrutusInstance_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="startBrutus">
      <wsdl:input wsaw:Action="http://tempuri.org/IBrutusControl/startBrutus" message="tns:IBrutusControl_startBrutus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBrutusControl/startBrutusResponse" message="tns:IBrutusControl_startBrutus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="stopBrutus">
      <wsdl:input wsaw:Action="http://tempuri.org/IBrutusControl/stopBrutus" message="tns:IBrutusControl_stopBrutus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBrutusControl/stopBrutusResponse" message="tns:IBrutusControl_stopBrutus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="killBrutus">
      <wsdl:input wsaw:Action="http://tempuri.org/IBrutusControl/killBrutus" message="tns:IBrutusControl_killBrutus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBrutusControl/killBrutusResponse" message="tns:IBrutusControl_killBrutus_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBrutusControl" type="tns:IBrutusControl">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BrutusInstance">
      <soap:operation soapAction="http://tempuri.org/IBrutusControl/BrutusInstance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="startBrutus">
      <soap:operation soapAction="http://tempuri.org/IBrutusControl/startBrutus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="stopBrutus">
      <soap:operation soapAction="http://tempuri.org/IBrutusControl/stopBrutus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="killBrutus">
      <soap:operation soapAction="http://tempuri.org/IBrutusControl/killBrutus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BrutusControl">
    <wsdl:port name="BasicHttpBinding_IBrutusControl" binding="tns:BasicHttpBinding_IBrutusControl">
      <soap:address location="http://localhost:1919/BrutusControl.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>